{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{port_envs,
    [ {"DRV_CFLAGS", "-Wall -fPIC -O2 $ERL_CFLAGS"}
    ]}.
{so_name, "quoted.so"}.
{port_specs, [
    {"priv/quoted.so", [
        "c_src/*.c",
        "c_src/*.cc",
        "c_src/double-conversion/*.cc"
    ]}
]}.
